/* ----- FOOTER ----- */
.zocalo {
    padding-top: 10px;
    position: relative;
    height: 8.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $negro;
    
    .zocalo__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        input,
        label{
            font-family: 'Roboto', sans-serif;
            font-size: 0.8rem;
            padding: 0.17em;
            border-radius: 20em; 
            color:$negro;
            text-align: center;}
    
        input[type=submit] {
            padding: 0.25em 0.75em;    
            background-image: linear-gradient(45deg,$rojo, $naranja,$amarillo);
            background-size: 300%;
            animation: fondoCalidos 10s ease-in-out infinite alternate;}
    
        input[type=email] {
            background-color: $blanco;
            width: 15em;}
    
        input:focus{
            outline: none;
            -webkit-filter: drop-shadow(0 0 1px $blanco);
            filter: drop-shadow(0 0 1px $blanco);}
        
        label {
            color: $blanco;
        }
    }
    
    .zocalo__redes {
        display: flex;
        width: 75%;
        justify-content: space-around;
        align-items: space-around;
    
        img {
            width: 2em;
            padding: 1em;
            transition: filter .2s ease-in-out;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%) brightness(5);}
        
        a:hover,
        a:focus {
            img {
                -webkit-filter: grayscale(0%); 
                filter: grayscale(0%);}
        }
    }

}

