

/* ----- INGRESA ----- */

.principal--ingresa {
    min-height: calc(100vh - 165px);
    margin-top: 65px;
    color: $negro;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/bgescalada.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    form {
        width: 80%;
        padding: 15px 5px 5px;
        margin: 25px 5px;
        border-radius: 20px; 
        h1, h2 {
            margin: 0.5em 0;
            font-family: 'Comfortaa', cursive;
            font-size: 1em;
            text-align: center;}
        fieldset {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-color: $negro;
            border: 2px solid $negro;
            border-radius: 1em;
            background-color: $blanco;
            -webkit-filter: drop-shadow(0px 0px 20px rgba(242, 242, 242, .25));
            filter: drop-shadow(0px 0px 20px rgba(242, 242, 242, .25));}
        .formulario {
            padding: 15px 0;
            display: flex;
            flex-direction: column;
            .campo {
                margin-right: 7%;
                display: flex;
                align-items:center;
                justify-content: flex-end;
                label {
                    padding-right: 1rem;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.85rem;
                    text-align: end;}
                input,
                select,
                textarea{
                    padding: 5px;
                    margin: 15px 5px;
                    width: 50%;
                    font-size: 0.8rem;
                    text-align: center;
                    border-radius: 20px;}
                select{
                    width: 54%;}}}
        input[type="submit"] {
            padding: 0.5rem 1rem;
            color: $blanco;
            font-size: 0.85rem;
            border: solid 1px $blanco;
            border-radius: 999px;
            background-color: $negro;
            cursor: pointer;
            transition: background-color 200ms,
                        border 200ms,
                        color 200ms;}
        input[type="submit"]:hover,
        input[type="submit"]:focus {
            color: $negro;
            border: solid 1px $negro;
            background-color: $blanco;}
    }
}