

/* ----- PUBLICACIONES ----- */

.principal--publicaciones {
    background-color: $blanco;
    color: $negro;
    margin-top: 65px;

    h1{
        padding-top: 65px;
        padding-bottom: 25px;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        text-align: center;
        color: $rojo;}

    table {
        width: 100%;
        tr{
            font-size: 0.65rem;
            th{
                font-family: 'Roboto', sans-serif;
                color: $azul;}
            td{
                padding: 10px;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                a {
                    color: $negro;
                    text-decoration: none;
                    &:hover {
                        color: $azul;}}}
            .titulo{
                width: 35%;}}}
}